* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 80px;
}

.container {
    height: 100%;
    width: 100vw;
    /* max-width: 1200px; */
    background-color: green;
    margin: 0 auto;
}

.internal-container{
    width: 85vw;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.header-left {
    height: 100%;
    width: 20%;
    float: left;
    background-color: red;
}

.header-left img{
    height: 50px;
    margin-top: 15px;
}

.header-right {
    height: 100%;
    width: 60%;
    float: right;
    background-color: blue;

}

nav{
    display: flex;
    justify-content: space-between;
}

.menu-item > a{
    line-height: 80px;
}

header a{
    font-family: sans-serif;
    color: white;
    font-size:18px;
    padding: 5px;
    background-color: grey;
    text-decoration: none;
    text-transform: uppercase;
}
header .dropdown-menu{
    display: none;
}

header .dropdown-menu-item{
    margin: 10px 0px;

}
